<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FAZENDINHA</title>

</head>
<body>
<center>
    <div>
    <h1>FAZENDINHA</h1> 
    </div>  
    
    <div>
        <p><b>
        <a href="{{ url_for('lista_produto') }}">PRODUTOS OFERECIDOS</a>
        </b></p>
    </div>

    <hr>    

    <div>
        <img src="{{ url_for('static', filename='quitanda.jpg') }}" />
    </div>

    <hr>

</center>
</body>
</html>